<div class="col-md-3 col-sm-6">
  <div class="product-grid5">
    <div class="product-image5">
      <a href="#">
        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-1.jpg">
        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-2.jpg">
      </a>
      <ul class="social">
        <li><a href="" data-tip="Like"><i class="fa fa-thumbs-o-up"></i></a></li>
        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
      </ul>
      <%= link_to t("books.read"), book, class: "select-options fa fa-arrow-right"%>
    </div>
    <div class="product-content">
        <h3 class="title"><a><%= book.name %></a></h3>
        <div><%= book.category_name %></div>
    </div>
  </div>
</div>
