<div class="col-md-4 ftco-animate">
  <div class="destination">
    <div class="text p-3">
      <div class="d-flex">
        <div class="one">
          <h3>
            <%= link_to book.name, book %>
          </h3>
        </div>
      </div>
      <hr>
      <p class="bottom-area d-flex">
        <% byebug %>
        <span><i class="icon-map-o"></i><%= book.category_name %></span>
        <span class="ml-auto"><a href=""><%= t("books.read") %></a></span>
      </p>
    </div>
  </div>
</div>
