<footer class="footer">
  <small>
    <%= raw t("footer.created_by",
      href1: link_to(t("framgia_library"), t("footer.link_framgia")),
      href2: link_to(t("footer.name"), t("footer.link_name"))) %>
  </small>
  <nav>
    <ul>
      <li><%= t "footer.hot_line" %></li>
    </ul>
  </nav>
</footer>
